# Preprocessing
Here we merge the 5-minute returns data and the open and close price data.

In [1]:
import numpy as np
import pandas as pd

/Users/luuk/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
dataHF = pd.read_csv("/Users/luuk/Documenten/School/Master/Research Assistantship/Data/HFData5DJIA3Y.csv")       #5-minute returns
dataOC = pd.read_csv("/Users/luuk/Documenten/School/Master/Research Assistantship/Data/OpenCloseData3YDJIA.csv")     #Open and close price data

data = dataHF[["SYMBOL", "PRICE", "DATE", "DT"]]
data["TIME"] = data["DT"].apply(lambda str: str.split()[-1])
data = data.drop(columns=["DT"])

/var/folders/js/sz7lv_rx4tz_t0fgb1g89k440000gn/T/ipykernel_18924/3895306201.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dataHF = pd.read_csv("/Users/luuk/Documenten/School/Master/Research Assistantship/Data/HFData5DJIA3Y.csv")       #5-minute returns

        SYMBOL   PRICE        DATE                   DT
0          MMM  177.54  2020-01-02  2020-01-02 09:30:00
1          MMM  177.54  2020-01-02  2020-01-02 09:35:00
2          MMM  178.43  2020-01-02  2020-01-02 09:40:00
3          MMM  179.19  2020-01-02  2020-01-02 09:45:00
4          MMM  178.85  2020-01-02  2020-01-02 09:50:00
...        ...     ...         ...                  ...
2977142    DIS   85.96  2022-12-30  2022-12-30 15:40:00
2977143    DIS   86.16  2022-12-30  2022-12-30 15:45:00
2977144    DIS   86.41  2022-12-30  2022-12-30 15:50:00
2977145    DIS   86.75  2022-12-30  2022-12-30 15:55:00
2977146    DIS   86.88  2022-12-30  2022-12-30 16:00:00

[2977147 rows x 4 columns]

In [6]:
data

        SYMBOL   PRICE        DATE                   DT      TIME
0          MMM  177.54  2020-01-02  2020-01-02 09:30:00  09:30:00
1          MMM  177.54  2020-01-02  2020-01-02 09:35:00  09:35:00
2          MMM  178.43  2020-01-02  2020-01-02 09:40:00  09:40:00
3          MMM  179.19  2020-01-02  2020-01-02 09:45:00  09:45:00
4          MMM  178.85  2020-01-02  2020-01-02 09:50:00  09:50:00
...        ...     ...         ...                  ...       ...
2977142    DIS   85.96  2022-12-30  2022-12-30 15:40:00  15:40:00
2977143    DIS   86.16  2022-12-30  2022-12-30 15:45:00  15:45:00
2977144    DIS   86.41  2022-12-30  2022-12-30 15:50:00  15:50:00
2977145    DIS   86.75  2022-12-30  2022-12-30 15:55:00  15:55:00
2977146    DIS   86.88  2022-12-30  2022-12-30 16:00:00  16:00:00

[2977147 rows x 5 columns]

In [7]:
dates = np.unique(data["DATE"])
stocks = np.unique(data["SYMBOL"])

nMissing = 0        #Initialize the number of missing observations to 0
for date in dates:
    nobsDate = len(data[(data["SYMBOL"] == "AAPL") & (data["DATE"] == date)])        #Extract how many observations we have for each trading date (some trading days end at 13:00)
    timesForDate = np.unique(data[(data["SYMBOL"] == "AAPL") & (data["DATE"] == date)]["TIME"])
    
    for stock in stocks:
        filteredData = data[(data["SYMBOL"] == stock) & (data["DATE"] == date)]     #Consider only the observations for the particular stock on the particular date
        indeces = filteredData.index
        
        data.loc[indeces[0], "PRICE"] = dataOC.loc[(dataOC["Ticker"] == stock) & (dataOC["DlyCalDt"] == date), "DlyOpen"].values[0]     #Replace the opening price
        data.loc[indeces[-1], "PRICE"] = dataOC.loc[(dataOC["Ticker"] == stock) & (dataOC["DlyCalDt"] == date), "DlyClose"].values[0]     #Replace the closing price
        
        if (len(filteredData) < nobsDate):      #Check for missing observations
            t = 0
            
            for time in timesForDate:
                if not (time in filteredData["TIME"].values):
                    nMissing += 1
                    
                    idxPrev = data[(data["SYMBOL"] == stock) & (data["DATE"] == date) & (data["TIME"] == timesForDate[t-1])].index[0]       #Extract the index of the observation from 5 minutes before
                    previousPrice = data.loc[idxPrev, "PRICE"]
                    newRow = pd.DataFrame({"SYMBOL": stock, "PRICE": previousPrice, "DATE": date, "TIME": timesForDate[t]}, index=[idxPrev+1])      #Instead of a missing observation we use the price from 5 minutes before
                    
                    data = pd.concat([data[:idxPrev], newRow, data[idxPrev:]]).reset_index(drop=True)
                
                t += 1
    print(date)         #Print the date to indicate how fast the process is going

2020-01-02
2020-01-03
2020-01-06
2020-01-07
2020-01-08
2020-01-09
2020-01-10
2020-01-13
2020-01-14
2020-01-15
2020-01-16
2020-01-17
2020-01-21
2020-01-22
2020-01-23
2020-01-24
2020-01-27
2020-01-28
2020-01-29
2020-01-30
2020-01-31
2020-02-03
2020-02-04
2020-02-05
2020-02-06
2020-02-07
2020-02-10
2020-02-11
2020-02-12
2020-02-13
2020-02-14
2020-02-18
2020-02-19
2020-02-20
2020-02-21
2020-02-24
2020-02-25
2020-02-26
2020-02-27
2020-02-28
2020-03-02
2020-03-03
2020-03-04
2020-03-05
2020-03-06
2020-03-09
2020-03-10
2020-03-11
2020-03-12
2020-03-13
2020-03-16
2020-03-17
2020-03-18
2020-03-19
2020-03-20
2020-03-23
2020-03-24
2020-03-25
2020-03-26
2020-03-27
2020-03-30
2020-03-31
2020-04-01
2020-04-02
2020-04-03
2020-04-06
2020-04-07
2020-04-08
2020-04-09
2020-04-13
2020-04-14
2020-04-15
2020-04-16
2020-04-17
2020-04-20
2020-04-21
2020-04-22
2020-04-23
2020-04-24
2020-04-27
2020-04-28
2020-04-29
2020-04-30
2020-05-01
2020-05-04
2020-05-05
2020-05-06
2020-05-07
2020-05-08
2020-05-11
2020-05-12
2020-05-13
2020-05-14
2020-05-15
2020-05-18
2020-05-19
2020-05-20
2020-05-21
2020-05-22
2020-05-26
2020-05-27
2020-05-28
2020-05-29
2020-06-01
2020-06-02
2020-06-03
2020-06-04
2020-06-05
2020-06-08
2020-06-09
2020-06-10
2020-06-11
2020-06-12
2020-06-15
2020-06-16
2020-06-17
2020-06-18
2020-06-19
2020-06-22
2020-06-23
2020-06-24
2020-06-25
2020-06-26
2020-06-29
2020-06-30
2020-07-01
2020-07-02
2020-07-06
2020-07-07
2020-07-08
2020-07-09
2020-07-10
2020-07-13
2020-07-14
2020-07-15
2020-07-16
2020-07-17
2020-07-20
2020-07-21
2020-07-22
2020-07-23
2020-07-24
2020-07-27
2020-07-28
2020-07-29
2020-07-30
2020-07-31
2020-08-03
2020-08-04
2020-08-05
2020-08-06
2020-08-07
2020-08-10
2020-08-11
2020-08-12
2020-08-13
2020-08-14
2020-08-17
2020-08-18
2020-08-19
2020-08-20
2020-08-21
2020-08-24
2020-08-25
2020-08-26
2020-08-27
2020-08-28
2020-08-31
2020-09-01
2020-09-02
2020-09-03
2020-09-04
2020-09-08
2020-09-09
2020-09-10
2020-09-11
2020-09-14
2020-09-15
2020-09-16
2020-09-17
2020-09-18
2020-09-21
2020-09-22
2020-09-23
2020-09-24
2020-09-25
2020-09-28
2020-09-29
2020-09-30
2020-10-01
2020-10-02
2020-10-05
2020-10-06
2020-10-07
2020-10-08
2020-10-09
2020-10-12
2020-10-13
2020-10-14
2020-10-15
2020-10-16
2020-10-19
2020-10-20
2020-10-21
2020-10-22
2020-10-23
2020-10-26
2020-10-27
2020-10-28
2020-10-29
2020-10-30
2020-11-02
2020-11-03
2020-11-04
2020-11-05
2020-11-06
2020-11-09
2020-11-10
2020-11-11
2020-11-12
2020-11-13
2020-11-16
2020-11-17
2020-11-18
2020-11-19
2020-11-20
2020-11-23
2020-11-24
2020-11-25
2020-11-27
2020-11-30
2020-12-01
2020-12-02
2020-12-03
2020-12-04
2020-12-07
2020-12-08
2020-12-09
2020-12-10
2020-12-11
2020-12-14
2020-12-15
2020-12-16
2020-12-17
2020-12-18
2020-12-21
2020-12-22
2020-12-23
2020-12-24
2020-12-28
2020-12-29
2020-12-30
2020-12-31
2021-01-04
2021-01-05
2021-01-06
2021-01-07
2021-01-08
2021-01-11
2021-01-12
2021-01-13
2021-01-14
2021-01-15
2021-01-19
2021-01-20
2021-01-21
2021-01-22
2021-01-25
2021-01-26
2021-01-27
2021-01-28
2021-01-29
2021-02-01
2021-02-02
2021-02-03
2021-02-04
2021-02-05
2021-02-08
2021-02-09
2021-02-10
2021-02-11
2021-02-12
2021-02-16
2021-02-17
2021-02-18
2021-02-19
2021-02-22
2021-02-23
2021-02-24
2021-02-25
2021-02-26
2021-03-01
2021-03-02
2021-03-03
2021-03-04
2021-03-05
2021-03-08
2021-03-09
2021-03-10
2021-03-11
2021-03-12
2021-03-15
2021-03-16
2021-03-17
2021-03-18
2021-03-19
2021-03-22
2021-03-23
2021-03-24
2021-03-25
2021-03-26
2021-03-29
2021-03-30
2021-03-31
2021-04-01
2021-04-05
2021-04-06
2021-04-07
2021-04-08
2021-04-09
2021-04-12
2021-04-13
2021-04-14
2021-04-15
2021-04-16
2021-04-19
2021-04-20
2021-04-21
2021-04-22
2021-04-23
2021-04-26
2021-04-27
2021-04-28
2021-04-29
2021-04-30
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-10
2021-05-11
2021-05-12
2021-05-13
2021-05-14
2021-05-17
2021-05-18
2021-05-19
2021-05-20
2021-05-21
2021-05-24
2021-05-25
2021-05-26
2021-05-27
2021-05-28
2021-06-01
2021-06-02
2021-06-03
2021-06-04
2021-06-07
2021-06-08
2021-06-09
2021-06-10
2021-06-11
2021-06-14
2021-06-15
2021-06-16
2021-06-17
2021-06-18
2021-06-21
2021-06-22
2021-06-23
2021-06-24
2021-06-25
2021-06-28
2021-06-29
2021-06-30
2021-07-01
2021-07-02
2021-07-06
2021-07-07
2021-07-08
2021-07-09
2021-07-12
2021-07-13
2021-07-14
2021-07-15
2021-07-16
2021-07-19
2021-07-20
2021-07-21
2021-07-22
2021-07-23
2021-07-26
2021-07-27
2021-07-28
2021-07-29
2021-07-30
2021-08-02
2021-08-03
2021-08-04
2021-08-05
2021-08-06
2021-08-09
2021-08-10
2021-08-11
2021-08-12
2021-08-13
2021-08-16
2021-08-17
2021-08-18
2021-08-19
2021-08-20
2021-08-23
2021-08-24
2021-08-25
2021-08-26
2021-08-27
2021-08-30
2021-08-31
2021-09-01
2021-09-02
2021-09-03
2021-09-07
2021-09-08
2021-09-09
2021-09-10
2021-09-13
2021-09-14
2021-09-15
2021-09-16
2021-09-17
2021-09-20
2021-09-21
2021-09-22
2021-09-23
2021-09-24
2021-09-27
2021-09-28
2021-09-29
2021-09-30
2021-10-01
2021-10-04
2021-10-05
2021-10-06
2021-10-07
2021-10-08
2021-10-11
2021-10-12
2021-10-13
2021-10-14
2021-10-15
2021-10-18
2021-10-19
2021-10-20
2021-10-21
2021-10-22
2021-10-25
2021-10-26
2021-10-27
2021-10-28
2021-10-29
2021-11-01
2021-11-02
2021-11-03
2021-11-04
2021-11-05
2021-11-08
2021-11-09
2021-11-10
2021-11-11
2021-11-12
2021-11-15
2021-11-16
2021-11-17
2021-11-18
2021-11-19
2021-11-22
2021-11-23
2021-11-24
2021-11-26
2021-11-29
2021-11-30
2021-12-01
2021-12-02
2021-12-03
2021-12-06
2021-12-07
2021-12-08
2021-12-09
2021-12-10
2021-12-13
2021-12-14
2021-12-15
2021-12-16
2021-12-17
2021-12-20
2021-12-21
2021-12-22
2021-12-23
2021-12-27
2021-12-28
2021-12-29
2021-12-30
2021-12-31
2022-01-03
2022-01-04
2022-01-05
2022-01-06
2022-01-07
2022-01-10
2022-01-11
2022-01-12
2022-01-13
2022-01-14
2022-01-18
2022-01-19
2022-01-20
2022-01-21
2022-01-24
2022-01-25
2022-01-26
2022-01-27
2022-01-28
2022-01-31
2022-02-01
2022-02-02
2022-02-03
2022-02-04
2022-02-07
2022-02-08
2022-02-09
2022-02-10
2022-02-11
2022-02-14
2022-02-15
2022-02-16
2022-02-17
2022-02-18
2022-02-22
2022-02-23
2022-02-24
2022-02-25
2022-02-28
2022-03-01
2022-03-02
2022-03-03
2022-03-04
2022-03-07
2022-03-08
2022-03-09
2022-03-10
2022-03-11
2022-03-14
2022-03-15
2022-03-16
2022-03-17
2022-03-18
2022-03-21
2022-03-22
2022-03-23
2022-03-24
2022-03-25
2022-03-28
2022-03-29
2022-03-30
2022-03-31
2022-04-01
2022-04-04
2022-04-05
2022-04-06
2022-04-07
2022-04-08
2022-04-11
2022-04-12
2022-04-13
2022-04-14
2022-04-18
2022-04-19
2022-04-20
2022-04-21
2022-04-22
2022-04-25
2022-04-26
2022-04-27
2022-04-28
2022-04-29
2022-05-02
2022-05-03
2022-05-04
2022-05-05
2022-05-06
2022-05-09
2022-05-10
2022-05-11
2022-05-12
2022-05-13
2022-05-16
2022-05-17
2022-05-18
2022-05-19
2022-05-20
2022-05-23
2022-05-24
2022-05-25
2022-05-26
2022-05-27
2022-05-31
2022-06-01
2022-06-02
2022-06-03
2022-06-06
2022-06-07
2022-06-08
2022-06-09
2022-06-10
2022-06-13
2022-06-14
2022-06-15
2022-06-16
2022-06-17
2022-06-21
2022-06-22
2022-06-23
2022-06-24
2022-06-27
2022-06-28
2022-06-29
2022-06-30
2022-07-01
2022-07-05
2022-07-06
2022-07-07
2022-07-08
2022-07-11
2022-07-12
2022-07-13
2022-07-14
2022-07-15
2022-07-18
2022-07-19
2022-07-20
2022-07-21
2022-07-22
2022-07-25
2022-07-26
2022-07-27
2022-07-28
2022-07-29
2022-08-01
2022-08-02
2022-08-03
2022-08-04
2022-08-05
2022-08-08
2022-08-09
2022-08-10
2022-08-11
2022-08-12
2022-08-15
2022-08-16
2022-08-17
2022-08-18
2022-08-19
2022-08-22
2022-08-23
2022-08-24
2022-08-25
2022-08-26
2022-08-29
2022-08-30
2022-08-31
2022-09-01
2022-09-02
2022-09-06
2022-09-07
2022-09-08
2022-09-09
2022-09-12
2022-09-13
2022-09-14
2022-09-15
2022-09-16
2022-09-19
2022-09-20
2022-09-21
2022-09-22
2022-09-23
2022-09-26
2022-09-27
2022-09-28
2022-09-29
2022-09-30
2022-10-03
2022-10-04
2022-10-05
2022-10-06
2022-10-07
2022-10-10
2022-10-11
2022-10-12
2022-10-13
2022-10-14
2022-10-17
2022-10-18
2022-10-19
2022-10-20
2022-10-21
2022-10-24
2022-10-25
2022-10-26
2022-10-27
2022-10-28
2022-10-31
2022-11-01
2022-11-02
2022-11-03
2022-11-04
2022-11-07
2022-11-08
2022-11-09
2022-11-10
2022-11-11
2022-11-14
2022-11-15
2022-11-16
2022-11-17
2022-11-18
2022-11-21
2022-11-22
2022-11-23
2022-11-25
2022-11-28
2022-11-29
2022-11-30
2022-12-01
2022-12-02
2022-12-05
2022-12-06
2022-12-07
2022-12-08
2022-12-09
2022-12-12
2022-12-13
2022-12-14
2022-12-15
2022-12-16
2022-12-19
2022-12-20
2022-12-21
2022-12-22
2022-12-23
2022-12-27
2022-12-28
2022-12-29
2022-12-30

In [8]:
data

        SYMBOL   PRICE        DATE                   DT      TIME
0          MMM  177.68  2020-01-02  2020-01-02 09:30:00  09:30:00
1          MMM  177.54  2020-01-02  2020-01-02 09:35:00  09:35:00
2          MMM  178.43  2020-01-02  2020-01-02 09:40:00  09:40:00
3          MMM  179.19  2020-01-02  2020-01-02 09:45:00  09:45:00
4          MMM  178.85  2020-01-02  2020-01-02 09:50:00  09:50:00
...        ...     ...         ...                  ...       ...
2977227    DIS   85.96  2022-12-30  2022-12-30 15:40:00  15:40:00
2977228    DIS   86.16  2022-12-30  2022-12-30 15:45:00  15:45:00
2977229    DIS   86.41  2022-12-30  2022-12-30 15:50:00  15:50:00
2977230    DIS   86.75  2022-12-30  2022-12-30 15:55:00  15:55:00
2977231    DIS   86.88  2022-12-30  2022-12-30 16:00:00  16:00:00

[2977232 rows x 5 columns]

In [9]:
data = data.drop_duplicates(subset=["SYMBOL", "DATE", "TIME"])

In [10]:
data

        SYMBOL   PRICE        DATE                   DT      TIME
0          MMM  177.68  2020-01-02  2020-01-02 09:30:00  09:30:00
1          MMM  177.54  2020-01-02  2020-01-02 09:35:00  09:35:00
2          MMM  178.43  2020-01-02  2020-01-02 09:40:00  09:40:00
3          MMM  179.19  2020-01-02  2020-01-02 09:45:00  09:45:00
4          MMM  178.85  2020-01-02  2020-01-02 09:50:00  09:50:00
...        ...     ...         ...                  ...       ...
2957434    DIS   85.96  2022-12-30  2022-12-30 15:40:00  15:40:00
2957435    DIS   86.16  2022-12-30  2022-12-30 15:45:00  15:45:00
2957436    DIS   86.41  2022-12-30  2022-12-30 15:50:00  15:50:00
2957437    DIS   86.75  2022-12-30  2022-12-30 15:55:00  15:55:00
2957438    DIS   86.88  2022-12-30  2022-12-30 16:00:00  16:00:00

[1787253 rows x 5 columns]

In [11]:
nMissing

85

In [12]:
data.to_csv("FinalData5.csv")